.productos {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  row-gap: 20px;
  padding-top: 10px;
  background-color: beige;
  height: 810px; }
  .productos .caja {
    text-align: center; }
    .productos .caja img {
      width: 200px;
      height: 300px; }

.cajaFooter {
  display: grid;
  grid-template-rows: 70% 30%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif; }
  .cajaFooter .redes {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    background-color: yellow; }
    .cajaFooter .redes img {
      width: 30px;
      height: 30px; }

.container {
  display: grid;
  grid-template-rows: 3fr 38fr 7fr; }

.nav {
  background-color: yellow;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif; }
  .nav a {
    color: black;
    text-decoration: none; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@media only screen and (min-width: 1024px) {
  .cajaFooter iframe {
    width: 100%; }
  .caja img {
    width: 350px;
    height: 350px;
    padding-bottom: 20px; } }
