.productos{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    row-gap: 20px;
    padding-top: 10px;
    background-color: map-get($colores, $key: crema );
    height: 810px;
        .caja{
            text-align: center;
                img{
                    @include imagenes
                }
        }
}