@media only screen and (min-width: 1024px){
    .cajaFooter{
        iframe{
            width: 100%;
    }    
    }
    .caja{
        img{
            width: 350px;
            height: 350px;
            padding-bottom: 20px;
        }
    } 

}
