.nav{
    background-color: map-get($colores, $key: amarillo);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
        a{
            color: black;
            text-decoration: none;
        }
}